<!DOCTYPE html>
<html lang="english">
   <head>
	   <title> Weather app </title>
      <link rel="stylesheet" type="text/css" href="static/css/home.css" />
   </head>
   <body>
      <form action = "/" method = "post", align ='center' enctype= "multipart/form-data">
         <h1><font color="White">WHERE TO GO?</font></h1>
         <p><font color="White"> Enter the City</font></p>
         <p><input type = "text" name = "City" required="required" /></p>
	      <button class="button button2" type="submit">Search</button>
      </form>
      <div>
         <div class="main">

            <div class="d1"></div>
            <div class="d2"></div>
            <div class="d3">
               <div class="holo" align="center">
                  {% for item in result %}
                  <br>{{item}}</br>
                  {% endfor %}
               </div>
            </div>
            <div class="d4"></div>
        </div>
      </div>
         
      
   </body>
</html>
